{% extends 'backend/base.html.twig' %}

{% block body %}
    <h5 class="card-title">Edit Contact</h5>

    <fieldset class="border p-2">
        <legend class="w-auto">Details</legend>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Save changes</button>
        {{ form_end(form) }}
    </fieldset>
    <hr/>

    <fieldset class="border p-2">
        <legend class="w-auto">Profile photo</legend>

        {{ form_start(formContactProfilePhoto, {action:path('backend.contacts.profilePhoto.create', {id : contact.getId })}) }}
        {{ form_widget(formContactProfilePhoto) }}

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">Upload New Photo</button>
        {{ form_end(formContactProfilePhoto) }}

        <hr/>

        <div>
            {% if contact.getContactProfilePhoto %}
                Current Profile Photo<img src="{{ app.request.getBaseURL() }}/uploads/contact-profile-photos/{{  contact.getContactProfilePhoto.getName }}" style="width: 100px;"/>
            {% else %}
                Profile photo does not exists
            {% endif %}
        </div>
    </fieldset>

{% endblock %}
