{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>Edit contact</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary">Save</button>
    {{ form_end(form) }}

    <br/><br/>

    {{ form_start(formContactProfilePhoto, {action:path('backend.contacts.profilePhoto.create', {id : contact.getId })}) }}
    {{ form_widget(formContactProfilePhoto) }}

    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    {{ form_end(formContactProfilePhoto) }}

{% endblock %}

