{% extends 'backend/base.html.twig' %}

{% block body %}
    <h5 class="card-title">Contacts</h5>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phones</th>
            <th scope="col">Favorite</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td scope="row">{{ contact.getId }}</td>
                <td>
                    {{ include('backend/contacts/_partials/profile_photo.html.twig') }}
                </td>
                <td>{{ contact.firstName }} {{ contact.lastName }}</td>
                <td>{{ contact.getEmail }}</td>
                <td>
                    {{ include('backend/contacts/_partials/contact_phones.html.twig') }}
                </td>
                <td>
                    {{ include('backend/contacts/_partials/favorite_icon.html.twig') }}
                </td>
                <td>
                    <a href="{{ url('backend.contacts.show', {id : contact.getId}) }}">
                        <i class="bi bi-zoom-in"></i>
                    </a>
                    <a href="{{ url('backend.contacts.edit', {id : contact.getId}) }}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <a href="#" onclick="response = confirm('Are you sure you want to delete?'); if(response) document.getElementById('delete-{{ contact.getId }}').submit();">
                        <i class="bi bi-x"></i>
                    </a>

                    <form action="{{ url('backend.contacts.delete', {id : contact.getId}) }}" method="post" id="delete-{{ contact.getId }}">
                        <input type="hidden" name="_method" value="DELETE"/>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
