{% extends 'backend/base.html.twig' %}

{% block body %}
    <h1>Contacts</h1>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td scope="col">#{{ contact.getId }}</td>
                <td scope="col">{{ contact.firstName }}</td>
                <td scope="col">{{ contact.lastName }}</td>
                <td scope="col">{{ contact.email }}</td>
                <td>
                    <a href="{{ url('backend.contacts.show', {id : contact.getId}) }}">
                        {{ include('backend/_partials/icons/show.html.twig') }}
                    </a>

                    <a href="{{ url('backend.contacts.edit', {id : contact.getId}) }}">
                        {{ include('backend/_partials/icons/edit.html.twig') }}
                    </a>

                    <form action="{{ url('backend.contacts.delete', {id : contact.getId}) }}" method="post" id="delete-{{ contact.getId }}">
                        <input type="hidden" name="_method" value="DELETE" />
                        <a href="#" onclick="document.getElementById('delete-{{ contact.getId }}').submit();">
                            {{ include('backend/_partials/icons/delete.html.twig') }}
                        </a>
                    </form>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
