<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Revendo demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">REVENDO</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="{{ url('backend.contacts.create') }}" class="nav-link align-middle px-0">
                            {{ include('backend/_partials/icons/add.html.twig') }}
                            <span class="ms-1 d-none d-sm-inline">
                                Add New Contact
                            </span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="{{ url('backend.contacts.index') }}" class="nav-link align-middle px-0">
                            {{ include('backend/_partials/icons/listing.html.twig') }}
                            <span class="ms-1 d-none d-sm-inline">
                                All Contacts
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            {{ include('backend/_partials/icons/listing_favorite.html.twig') }}
                            <span class="ms-1 d-none d-sm-inline">
                                My Favorites
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col py-3">
            <div class="container">
                {% for success in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ success }}
                    </div>
                {% endfor %}
                {% for error in app.flashes('error') %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>
